<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Coder Sign In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/coderList">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/coderList">Developers<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        <input type="text" id="companyUsername" class="username" placeholder="Username" />
        <input type="password" id="companyPassword" class="password" placeholder="Password" />
        <button type="submit" id="companyLogin" class="SingInButton">Sign In</button>
    </div>

<!-- the script is built in to html for now but it has to be seperated -->
    <script>
        console.log("script connected");
        //get username and password

        $("#companyLogin").on("click", function () {
            var username = $("#companyUsername").val();
            var password = $("#companyPassword").val();

            console.log(username + " " + password);


        });

    </script>
</body>

</html>