<div class="media">
    <img class="mr-3" src = {{companyLogo}} alt="Generic placeholder image" height="420px" width="420px">
    <div class="media-body">
        <h5 class="mt-0">Media heading</h5>
        Cras sit amet nibh libero, in gravida nulla.
    </div>

    <div class="modal-body">
        <p>{{companyName}}</p>
        <p>{{businessType}}</p>
        <p>{{position}}</p>
    </div>
</div>
