<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome to Intern Me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
        
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Defeat others with your skills</h1>
            <p class="lead">Intern Me is a best way to proof your-self to employers</p>
        </div>
    </div>

    <form>
        <div class="form-row">

            <style>
                .form-control{
                margin: 0px 50px 2px 2px;
                width: 500px;         
            }
            #companySubmit{
                margin-top: 15px; 
                color: blanchedalmond; 
                background-color: darkgoldenrod
            }
            </style>
            <div class="col">
                <input type="text" class="form-control" id="companyName" placeholder="Company Name">
            </div>
            <div class="col">
                <input type="text" class="form-control" id="businessType" placeholder="Business Type">
                <input type="text" class="form-control" id="companyWebsite" placeholder="Company Website (if exist)">
                <input type="text" class="form-control" id="companyPhone" placeholder="Company Phone #">
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" id="contactPerson" placeholder="Contact Person">
            </div>
            <div class="col">
                <input type="text" class="form-control" id="contactPersonLastname" placeholder="Contact Person's Lastname">
                <input type="text" class="form-control" id="emailAddress" placeholder="E-mail Address">
                <input type="text" class="form-control" id="contactPersonPhone" placeholder="Contact Person's Phone Number">
                <input type="text" class="form-control extention" id="contactPersonExtension" placeholder="Extention# (if exist)">
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <textarea type="text" class="form-control textarea" id="companyDescription textarea" placeholder="Describe Your Company (etc, What does it do?, What is the business area?)"></textarea>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <textarea type="text" class="form-control textarea" id="techologiesUsed textarea" placeholder="Describe the Technologies Your Company Uses (etc, Javascript, Node.js, MySql, HTML, CSS)"></textarea>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control password" id="password1" placeholder="Password">
            </div>
            <div class="col">
                <input type="text" class="form-control" id="password2" placeholder="Re-Type Password">
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <button type="submit" id="companySubmit">Submit</button>
            </div>
        </div>

    </form>
    <script src="js/companySignup.js"></script>
    
</body>

</html>